<%- include ("./modals.ejs") %> 
<%- include ("./footerLinks.ejs") %>
<footer id="footer" class="p-2 w-2/5 text-sm w-full">
    <ul id="footer__cta" class="footer__list mb-4 w-3/5">
        <li class="footer__items"><a href="" class="footer__link">About</a></li>
        <li class="footer__items"><a href="" class="footer__link">Home</a></li>
        <li class="footer__items"><a href="" class="footer__link">Check Code</a></li>
    </ul>
    <ul id="footer__socials" class="footer__list w-1/5">
        <li class="footer__items"><a href="" class="social__links"><i class="fab fa-instagram"></i></a></li>
        <li class="footer__items"><a href="" class="social__links"><i class="fab fa-twitter"></i></a></li>
        <li class="footer__items"><a href="" class="social__links"><i class="fab fa-facebook-square"></i></a></li>
        <li class="footer__items"><a href="" class="social__links"><i class="fab fa-github"></i></a></li>
    </ul>
</footer> 
</body>
</html>