<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page.title %> </title>
    <%- include("./headLinks.ejs") %> 
</head>
<body class="w-screen">
    <nav id="nav" class="flex items-center justify-between p-4 text-lg">
        <div id="nav__logo">
            <img src="" alt=""/>af
        </div>
        <ul id="nav__list" class="flex">
            <li class="nav__item mx-2"><a href="/home" class="nav__link">Home</a></li>
            <li class="nav__item mx-2"><a href="/about" class="nav__link">About</a></li>
        </ul>
    </nav>
