<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/<%-page%>.css">
</head>
<body>
    <nav id="nav">
        <div id="nav__logo">
            <img src="" alt=""/>
        </div>
        <ul id="nav__list">
            <li class="nav__item"><a href="/home" class="nav__link">Home</a></li>
            <li class="nav__item"><a href="/dashboard" class="nav__link">Dashboard</a></li>
            <li class="nav__item"><a href="/profile" class="nav__link">Profile</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Logout</a></li>
        </ul>
    </nav>