
<link rel="stylesheet" href="./css/sidebar.css">

<div id="sidebar" class="h-full flex items-center justify-between flex-col md:text-lg text-sm">
    <div class="sidebar__container">
        <div class="sidebar__box active">
            <b></b><b></b>
            <a href="#" class="sidebar__box-link" id="create-form">
                <i class="far fa-plus-square"></i> 
                <p class="sidebar__para">Create New Form</p>
            </a>
        </div>
        <div class="sidebar__box">
            <b></b><b></b>
            <a href="#" class="sidebar__box-link" id="active-forms">
                <i class="fas fa-globe-asia"></i> 
                <p class="sidebar__para">Active Forms</p>
            </a>
        </div>
        <div class="sidebar__box">
            <b></b><b></b>
            <a href="#" class="sidebar__box-link" id="saved-forms">
                <i class="fas fa-save"></i>
                <p class="sidebar__para">Saved Forms</p>
            </a>
        </div>
        <div class="sidebar__box">
            <b></b><b></b>
            <a href="#" class="sidebar__box-link" id="archived-forms">
                <i class="fas fa-archive"></i> 
                <p class="sidebar__para">Archived Forms</p>
            </a>
        </div>
    </div>
    <div class="sidebar__container" class="">
        <div class="sidebar__profile flex items-center justify-center w-full">
            <img src="<%= user.image_path%>" alt="<%= user.name%>">
            <p class="sidebar__para"><%= user.name %></p>
            <i class="fas fa-ellipsis-v text-sm sidebar__para" id="profile-edit"></i>
            <div class="profile-cta hidden">
                <button><i class="fas fa-user-edit"></i>Edit Profile</button>
            </div>
        </div>
    </div>
</div>

<div class="sidebar__toggle grid place-items-center">
    <i class="fas fa-bars open"></i>
    <i class="fas fa-window-close close"></i>
</div>

<script type="module" src="./js/sidebar.js"></script>

