<div id="sidebar" class="h-full p-4 flex items-center justify-between flex-col">
    <div class="sidebar__container">
        <div class="sidebar__box"><a href="" class="sidebar__box-link">Create New Form</a></div>
        <div class="sidebar__box"><a href="" class="sidebar__box-link">Active Forms</a></div>
        <div class="sidebar__box"><a href="" class="sidebar__box-link">Archived Forms</a></div>
    </div>
    <div class="sidebar__container" class="">
        <div class="sidebar__profile flex items-center content-between">
            <img src="<%= user.image_path%>" alt="<%= user.name%>" class="w-16 h-16">
            <p><%= user.name %> </p>
        </div>
    </div>
</div>