<% if (page.isLoggedIn) { %>
 <%- include ("./partials/headerLoggedIn.ejs") %> 
<% } else {%>
 <%- include ("./partials/headerLoggedOut.ejs") %> 
<% } %>
     <div id="_404" class="flex flex-col items-center justify-center p-4">
         <h1 class="_404__title text-xl font-bold my-10 text-center">Sorry, the page you're looking for is not found!</h1>
         <img src="./images/404.gif" alt="404 gif" class="relative 404__image object-cover md:my-2 my-12"/>
         <h1 class="_404__title-404 text-6xl md:text-8xl absolute inset-y-2/4 ">404</h1>
     </div>
<%- include ("./partials/footer.ejs") %>
