<%- include ("./partials/headerLoggedIn.ejs") %> 

<main id="main">
    <%- include ("./partials/sidebar.ejs") %> 
    <div id="content">
        <center>This is DashBoard</center>
    </div>
</main>

<%- include ("./partials/footer.ejs") %>