<%- include ("./partials/headerLoggedIn.ejs") %> 

<main id="main">
    <%- include ("./partials/sidebar.ejs") %> 
    <div id="content">

        <div id="create-form-page">
            <h1 class="content__title">Create New Form.</h1>
           <form id="create-form-form">
                <label for="create-form-name" class="">Title</label>
                <input type="text" id="create-form-name" class=""/>
                <label for="create-form-desc" class="">Description</label>
                <input type="text" id="create-form-desc" class=""/>
                <button id="create-form-submit">Create</button>
           </form> 
        </div>

        <div id="active-forms-page">
            <h1 class="content__title">Active Forms.</h1>
            
        </div>

        <div id="archived-forms-page">
            <h1 class="content__title">Archived Forms.</h1>
            
        </div>
    </div>
</main>

<%- include ("./partials/footer.ejs") %>