<form id="imageForm" action="/image/upload" method="POST" enctype="multipart/form-data">
    <input type="file" id="file" name="image" id="input_image" required>
    <button type="submit">Upload</button>
</form>

<script>
    // const imageForm = document.getElementById("imageForm");
    // imageForm.addEventListener("submit", async (e) => {
        
    // })
</script>