<%- include ("./partials/headerLoggedOut.ejs") %> 

    <!-- <h1>This is Index</h1>
    <img src="/images/default_user_image.png"> -->

    <div class="container mx-auto p-4 flex justify-between items-center" id="index">
        <div id="index__app-info">

        </div>
        <div id="index__app-forms">
            <!-- Sing In Form -->
            <form action="/signin" id="index__singin" method="POST">
                <label for="singin__user">Username or Email
                    <input type="text" id="singin__user" name="user"/>
                </label>
                <label for="singin__password">Password
                    <input type="password" id="singin__password" name="password"/>
                </label>
                <button type="submit" id="singin__button">Sing In</button>
            </form>
            <!-- Sign Up Form -->
            <form action="/singup" id="index__signup">
                
            </form>
        </div>
    </div>

<%- include ("./partials/footer.ejs") %>