<%- include ("./partials/headerLoggedOut.ejs") %> 

    <!-- <h1>This is Index</h1>
    <img src="/images/default_user_image.png"> -->

    <div class="container mx-auto p-4 flex justify-between items-center" id="index">
        <div id="index__app-info">

        </div>
        <div id="index__app-forms">
            
        </div>
    </div>

<%- include ("./partials/footer.ejs") %>